* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans';
    font-weight: normal;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 1.5em;
    color: #333;
}
p {
    font-size: 1em;
    color: #777;
}
/* cabeçalho */
.cabecalho {
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-color: #13c7ae;
}
.logo a {
    width: 221px;
    height: 48px;
    float: left;
    background: url(../img/logo.png);
}
.cabecalho form {
    width: 30%;
    float: right;
}
.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    padding: 15px 10px;
    border-radius: 5px 0 0 5px;
    border: none;

}
.cabecalho button {
    width: 15%;
    float: right;
    padding: 15px 10px;
    background-color: #0cae98;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0;
}
/* Menu */
.menu {
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8%;
    margin-bottom: 25px;
}
.menu li {
    float: left;
}
.menu li a {
    color: #9d9d9d;
    margin-right: 25px;
}
.menu li a:hover {
    color: #fff;
}

/* Inicio sidebar */
.onde-estamos {
    width: 20%;
    float: right;
    padding: 10px 20px;
    background-color:#f5f5f5;
    border-radius: 5px;
}
.onde-estamos h2 {
    margin-bottom: 5px;
}
.onde-estamos li {
    color: #777;
    margin-bottom: 10px;
}
.onde-estamos i {margin-right: 5px;}
/* Fim Sidebar */

/* Inicio sectioncontato */
.sectioncontato form {
    width: 80%;
    margin: 0 auto;
    float: left;
}
.sectioncontato form fieldset {
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 10px;
}
.sectioncontato form fieldset .name {
    width: 40%;
    height: 35px;
}
.sectioncontato form fieldset #email {
    width: 70%;
    margin-right: 10%;
    padding: 15px;
    margin: 0 auto;
    left: 38px;
    position: relative;
}
.sectioncontato form .text {
    display: flex;
    flex-direction: column;
    position: relative;
    word-break: break-all;
}
.sectioncontato form .caixa-text {
    width: 70%;
    position: relative;
    left: 41px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 10px;
    
}
.sectioncontato form .btn{
    width: 75px;
    height: 50px;
    position: relative;
    float: right;
    margin-top: 6px;
    right: 5px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 1px #333;
}
.sectioncontato form fieldset label {
    margin: 1px solid black;
}
/* Fim Contato */

/* Inicio Footer */
.rodape {
    width: 100%;
    float: left;
    background-color: #13c7ae;
    padding: 20px 8%;
}
.rodape p {
    text-align: center;
    color: #fff;
}